.section {
  padding: 110px 0;
}

.page-title {
  text-align: center;
  font-size: 48px;
  line-height: 54px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin: 0 auto 40px;

  &--accent {
    color: #ffa650;
  }
}

.btn {
  display: inline-block;
  background: #ff5441;
  color: white;
  padding: 18px 20px;
  width: 240px;
  max-width: 100%;
  
  border-radius: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1em;
  box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, 0.8);
  transition: all 0.2s;
  &:hover {
    background: #ed4836;
  }
  &:active {
    opacity: 0.8;
    transform: scale(0.95);
    border: none;
  }
}

.phone__item {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 21.5px;
  padding: 8px 16px;
  transition: color 0.2s, background 0.2s, opacity 0.2s;

  &:hover {
    color: #1f1f1f;
    background: #fff;
  }

  &:active {
    opacity: 0.8;
  }
}

.phone__item--accent {
  border-color: #ffa650;
  color: #ffa650;

  &:hover {
    background: #ffa650;
    color: #fff;
  }
}

.socials {
  display: flex;

  &__item {
    margin-right: 7px;
  }

  &__link {
    display: inline-block;
  }

  &__icon {
    fill: #ffa650;
    width: 35px;
    height: 35px;
    transition: fill 0.2s, opacity 0.2s;

    &:active {
      opacity: 0.7;
    }
  }

  &__icon--vk:hover {
    fill: #5078a5;
  }

  &__icon--fb:hover {
    fill: #3e58a1;
  }

  &__icon--inst:hover {
    fill: #e6369c;
  }

  &__logo {
    fill: #fff;
  }
}

.btn-close {
  position: relative;
  border: none;
  
  cursor: pointer;
  background: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: transform 0.2s, opacity 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
    opacity: 0.8s;
  }

  &::before,
  &::after {
    content: "";
    background: #d2d2d2;
    height: 40px;
    width: 3px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.mobile-menu {
  width: 100%;

  &__link {
    display: block;
    padding: 20px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    transition: background 0.2s, color 0.2s, opacity 0.2s;
  }

  &__link:hover {
    background: #ffa650;
    color: #fff;
  }

  &__link:active {
    opacity: 0.8;
  }
}

.order {
  max-width: 310px;
  margin: 0 auto;

  &__img {
    width: 186px;
    display: block;
    margin: 0 auto 10px;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin: 0 0 5px;
    text-align: center;
  }


  &__size {
    margin: 0 0 30px;
    color: #a2a2a2;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
  }
}

.form {
  text-align: center;
  &__input {
    display: block;
    width: 100%;
    padding: 20px 28px;
    background: #f7f7f7;
    border-radius: 32px;
    margin-bottom: 8px;
    border: 2px solid transparent;
    
  }

  &__input:focus {
    border-color: #ffa650;
  }

  &__btn {
    width: 100%;
    background: #ffa650;
    padding: 22px 28px;
    border-radius: 50px;
    box-shadow: none;
  }
}

.logo__img {
  width: 127px;
  height: 19px;
}

