.section-contacts {
  overflow: hidden;

  &__img {
    position: absolute;
    background:  no-repeat;
    background-size: cover;
    width: 672px;
    height: 397px;
    bottom: -100px;
    right: -350px;
  }

  &__container {
    position: relative;

    
  }

  &__title {
    margin-bottom: 90px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;

  &__start {
    width: 50%;
  }

  &__end {
    width: 50%;
    padding-left: 30px;
  }

  &__map {
    height: 450px;
    background: #fef0b4;
  }

  &__item {
    margin-bottom: 35px;
  }

  &__item:last-of-type {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 18px;
  }

  &__text {
    font-size: 18px;
  }

  &__phone {
    transition: color 0.2s;
    &:hover {
      color: #ffa650;
    }
  }
}
