@media (max-width: 576px) {
    .section-top__info {
        font-size: 18px;
    }

    .section-top__title {
        font-size: 46px;
    }

    .btn {
        padding: 16px 20px;
        width: 220px;
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    
    .section-top__title {
        font-size: 34px;
        line-height: 54px;
    }
}