@media (max-width: 1800px) {
  .section-contacts {
    &__img {
      right: -250px;
    }
  }
}

@media (max-width: 1600px) {
  .section-contacts {
    &__img {
      right: -150px;
      bottom: -200px;
    }
  }
}

@media (max-width: 1400px) {
  .section-contacts {
    &__img {
      right: -100px;
    }
  }
}

@media (max-width: 1300px) {
  .section-contacts {
    &__img {
      right: -50px;
    }
  }
}

@media (max-width: 1250px) {
  .catalog {
    margin: 0 -20px;
    &__item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 1200px) {
  .header-page__link {
    font-size: 16px;
    padding: 12px 30px;
  }

  .header-page__phone {
    font-size: 14px;
    padding: 7px 16px;
  }

  .section-about {
    padding-top: 80px;
    padding-bottom: 80px;

    &__content {
      padding-left: 50px;
    }
  }

  .section-contacts {
    &__img {
      display: none;
    }
  }

  .product__img {
    height: auto;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .product__size {
    padding: 13px 25px;
  }
}

@media (max-width: 992px) {
  .header-page {
    padding: 5px 0;

    &__nav {
      display: none;
    }

    &__hamburger {
      display: block;
    }
  }

  .section-top {
    padding-top: 150px;
  }

  .catalog__item {
    width: 50%;

    &:nth-of-type(even)::before {
      content: "";
    }

    &:nth-of-type(odd)::before {
      content: none;
    }
  }

  .contacts__map {
    height: 350px;
  }

}

@media (max-width: 767px) {
  .catalog-nav {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;

    &__wrapper {
      flex-wrap: wrap;
      width: 100%;
      border-radius: 10px;
    }

    &__item {
      width: 50%;
      flex-grow: 1;

      &:nth-of-type(1) .catalog-nav__btn,
      &:nth-of-type(2) .catalog-nav__btn {
        border-top: 0;
      }

      &:nth-of-type(even) .catalog-nav__btn {
        border-right: 0;
      }
    }

    &__btn {
      min-width: 0;
      width: 100%;
      border-top: 1px solid #e5e5e5;
    }
  }

  .catalog__item {
    width: 100%;
    margin-bottom: 50px;

    &:nth-of-type(n)::before {
      content: none;
    }

    &:last-of-type .catalog__product {
      border-bottom: 0;
      padding-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .catalog__product {
    width: 350px;
    margin: 0 auto;
    max-width: 100%;
    border-bottom: 2px solid #f7f7f7;
    padding-bottom: 50px;
  }

  .section-about {
    &__img {
      width: 100%;
    }

    &__container {
      justify-content: center;
    }

    &__content {
      padding-left: 0;
      width: 500px;
      max-width: 100%;
    }
  }

  .section-contacts {
    padding-bottom: 0;
  }

  .contacts {
    &__start {
      width: 100%;
      order: 1;
    }

    &__end {
      width: 400px;
      max-width: 100%;
      margin-bottom: 40px;
      padding-left: 0;
    }

    &__map {
      margin: 0 -20px;
      height: 300px;
    }
  }

  .socials {
    &__item {
      margin-right: 15px;
    }

    &__icon {
      width: 45px;
      height: 45px;
    }
  }

  .popup {
    &__inner {
      padding: 0;
    }

    &__content {
      max-width: 100%;
      min-height: 100vh;
      border-radius: 0;
      padding-top: 100px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__subtitle--order {
      max-width: 260px;
    }
  }

  .mobile-menu__link {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 90px 0;

    &__header {
      margin-bottom: 70px;
    }
  }

  .page-title {
    font-size: 36px;
  }

  .section-top__info {
    font-size: 18px;
  }

  .section-top__title {
    font-size: 46px;
  }

  .btn {
    padding: 16px 20px;
    width: 220px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .header-page__phone {
    display: none;
  }
}

@media (max-width: 370px) {
  .product__size {
    padding: 13px 25px;
  }

  .product__price {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .section-top__title {
    font-size: 34px;
    line-height: 54px;
  }
}
